<div class="flex flexcol gap-4 items-center">
  <div>
    <img
      class="rounded"
      src="https://randomuser.me/api/portraits/lego/2.jpg"
      style="height: 400px"
    />
  </div>
  <div>
    <p><span>First Name: </span><%= user.firstName %></p>
    <p><span>Last Name: </span><%= user.lastName %></p>
    <p><span>Email: </span><%= user.email %></p>
  </div>
</div>
